<%- include('../partials/header', {pageCss:'centered-forms.css'}); -%>
<meta name="csrf-token" content="<%= csrfToken %>">
<meta name="reset-token" content="<%= resetToken %>">



<div class="main">

        <div class="card form-card">

                <h2 >Установите новый пароль</h2>
                <form>
                    <div class="form-group ">
                        <label for="email">Новый пароль</label>
                        <input type="password" class="form-control" name="password" required >
                        <div class="password error input-error"></div>
                    </div>
                    
                    
                    <button class="btn btn-green btn-block mt-3 mb-1">Сменить пароль</button> 
                    
                </form>

        </div>
 
</div>
    
<script>
    
    const form = document.querySelector('form')

    const passwordError = document.querySelector('.password.error')
    const token = document.querySelector('meta[name="csrf-token"]').getAttribute('content')
    const resetToken = document.querySelector('meta[name="reset-token"]').getAttribute('content')
    //console.log(resetToken)

    form.addEventListener('submit', async (e) => {
        e.preventDefault()

        // reset errors
        passwordError.textContent = ""

        // get the values
        const password = form.password.value

        try{
            const res = await fetch(`/new_pass/`, {
                credentials: 'same-origin',
                method: 'POST',
                body: JSON.stringify({resetToken, password}),
                headers: {
                    'Content-Type': 'application/json',
                    'CSRF-Token': token // <-- is the csrf token as a header
                }
            })
            const data = await res.json()
            
            if(data.errors) {

                passwordError.textContent = data.errors.password
            }
            if(data.user){
                //form.innerHTML = `<p class='text-success'>Your password has been changed. You can now <a class='login-link' href='/login'>login</a> with it.</p>`
                form.innerHTML = `<p class='text-warning'>Ваш пароль изменен. Теперь вы можете <u><a href='/login'>войти</a></u> с помощью него.</p>`
            }
        }
        catch (err) {
            console.log(err) 
        }

        
    })
</script>
<%- include('../partials/common-js'); -%>
<%- include('../partials/footer'); -%>